#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

header {
  text-align: center;
}
img {
  width: 18%;
  padding-top: 5%;
}

.book {
  text-align: center;
}

.bookDetails ul {
  display: inline-block;
  margin: 0;
  padding: 0;
};

.bookDetails li {
  float: left;
}